@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.caret-transparent {
  caret-color: transparent;
}

.caret-auto {
  caret-color: auto;
}

.nav-icon-active {
  @apply invert-0 opacity-100 !important;
}

.removeScrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.removeScrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}