@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.caret-transparent {
  caret-color: transparent;
}

.caret-auto {
  caret-color: auto;
}